---
import Layout from "../../layouts/Page.astro";

import Container from "../../components/Container.astro";
import HeadingH1 from "../../components/parts/HeadingH1.astro";
import InfoArticle from "../../components/InfoArticle.astro";

import { getBlogs } from "../../library/microcms";

import { defineConfig } from 'astro/config';

import { fileURLToPath } from 'url';
import path, { dirname } from 'path';

const __filename = fileURLToPath(import.meta.url);
const __dirname = dirname(__filename);

console.log('aaa')
console.log(__filename)
console.log(import.meta)
console.log(__dirname)

const linktext= __dirname + '/aaa'

export const getStaticPaths = async ({ paginate }) => {
  const infos = await getBlogs({ limit: 1000 });
  return paginate(infos.contents, { pageSize: 1 });
};
const { page } = Astro.props;


console.log(page.data)
const seo = {
  title: "お知らせ一覧｜みっちゃん",
  description:
    "沖縄県那覇市宇栄原で50年営業している仕出し、弁当、オードブルのお店です。",

};
---

<Layout {seo}>
  <Container>
		<HeadingH1
		text="お知らせ一覧"
		align="center" />
		<a href={linktext}>test</a>
		<ul class="infoList">
		{page.data.map((info) => {
			const link = info.id
			return (
					<li class="infoItem">
			<a href={link}>
				<div class="text-block">
					<h2>
						<span>
							{info.title}
						</span>
					</h2>
					<p>
						{info.content}
						</p>
				</div>
				<figure>
					<img src={info.image.url} alt="">
				</figure>
				</a>
		</li>
		);
	})}
	</ul>
		 <ul class="nav">
			{page.url.prev && (
				<li class="prev">
					<a href={page.url.prev}>PREV</a>
				</li>
			)}
			{page.url.next && (
				<li class="next">
					<a href={page.url.next}>NEXT</a>
				</li>
			)}
		</ul>
  </Container>
</Layout>

<style>
.infoItem{
	display: flex;
	padding: 20px 8%;
	border-top: 1px solid #333;
}

.infoList a {
	display: flex;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.infoList a{
		flex-direction: column-reverse;
	}
}

.infoItem:last-of-type{
	border-bottom: 1px solid #333;
}
.text-block {
	width: 70%;
}

h2{
	width: fit-content;
	margin-right: auto;
	position: relative;
}
p{
	height: 100px;
	line-height: 1.8;
	margin-top: 36px;
	padding-right: 24px;
	font-size: 20px;
	/* 三点リーダー対応 */
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  overflow: hidden;
}
span{
	font-size: 3.2rem;
	font-family: var(--font-design-main);
	position: relative;
	z-index: 2
}
h2::before{
		content: '';
		position: absolute;
		transform: translate(-50%,-20%);
		display: block;
		background-image: url(../../images/heading-mark.svg);
		background-size: contain;
		width: 80px;
		height: 60px;
		z-index: 1;
	}

figure{
	width: 30%;
}

@media screen and (max-width: 768px) {
.infoList li{
		padding: 40px 0 20px;
	}
.infoLisst a{
	flex-direction: column-reverse;
}
figure{
	width: 100%;
}
.text-block{
	margin-top: 32px;
	width: 100%;
}
p{
	padding-right: 0;
	margin-top: 8px;
	font-size: 1.8rem;
	line-height: 1.4;
	height: 72px;
}
}

.nav{
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav li{
	font-size: 4rem;
	width: 50%;
	text-align: center;
}

.prev{
	margin-right: auto;
}

.next{
	margin-left: auto;
}

</style>
