---
import Background from "../parts/Background.astro";
import SectionHeading02 from "../parts/SectionHeading02.astro";
import SectionLead from "../parts/SectionLead.astro";
import bannerFolded from "../../images/menu/banner-folded.jpg";
import bannerFoldedWebp from "../../images/menu/banner-folded.webp";
import bannerMeeting from "../../images/menu/banner-meeting.png";
import bannerMeetingWebp from "../../images/menu/banner-meeting.webp";
import MenuUsual from "../MenuUsual.astro";
import ButtonWrapper from "../ButtonWrapper.astro";
const headingText = "メニューのご紹介";
---

<Background
name="menu"
bgType="solidWhite"
headingText={headingText}
>
  <SectionLead>
    <p>
      みっちゃんのメニューをご紹介します<br>
			おばーたちが作る<br class="u-active-tbpc">
			昔ながらの沖縄定番料理を<br class="u-active-tbpc">
			ぜひ、ご賞味ください
    </p>
  </SectionLead>

  <div class="menu-article">

    <SectionHeading02 headingText="折り詰めやオードブル" />
		<p class="lead">
      会議のときのお昼ごはんに、トゥシビー、結納などのお祝いのときのオードブル、お弁当などお作りします。
			一度、ご相談ください
    </p>

    <ul class="menu-folded">
      <li>
        <figure>
					<picture>
						<source srcset={bannerFoldedWebp} type="image/webp">
						<img src={bannerFolded} alt="折り詰めやオードブル" />
					</picture>
        </figure>
      </li>
      <li>
        <figure>
					<picture>
						<source srcset={bannerMeetingWebp} type="image/webp">
						<img src={bannerMeeting} alt="" />
					</picture>
        </figure>
      </li>
    </ul>
		<ButtonWrapper className="buttonContainerSection" />

		<SectionHeading02 headingText="いつものお弁当" />
		<p class="lead">
      定番お弁当メニュー。次のもの以外はすべて500円です。<br>
			・特注弁当---800円〜 <br>
			・中味汁---800円<br>
    </p>
		<MenuUsual />
		<ButtonWrapper className="buttonContainerSection" />

  </div>


</Background>

<style>

	.menu-article{
		width: 100%;
	}

	.menu-folded{
		width: 100%;
		display: flex;
		gap: 5%;
	}
	.folded-article li{
		flex: 1;
	}

	.lead{
		margin-top: -32px;
		line-height: 2;
		font-size: 2rem;
		margin-bottom: 60px;

	}

	@media screen and (max-width: 768px) {
		.menu-folded{
			flex-direction: column;
		}
		.menu-folded li + li{
			margin-top: 32px;
		}
								}

								.u-active-tbpc{
	display: inline;
}
@media screen and (max-width: 480px) {
	.u-active-tbpc{
		display: none;
	}
	p{
		text-align: justify;
	}
}

</style>
